// .gitattributes
/demo export-ignore
phpunit.xml.dist export-ignore
/.github/ export-ignore
/tests/ export-ignore
/bin/ export-ignore

.gitattributes export-ignore
.gitignore export-ignore

phpstan.neon.dist export-ignore
phpstan.neon export-ignore
phpunit.xml.dist export-ignore
rector.php export-ignore

.prettierrc.yaml export-ignore
.prettierignore export-ignore
.editorconfig export-ignore